.navigation {
  position: absolute;
  width: 1600px;
  height: 80px;
  background: #ffffff;
}
.logo {
  color: blue;
}

.logo1 {
  color: blue;
}

.head {
  width: 1600px;
  height: 600px;
  background: #2f303a;
}

.head-link {
  text-transform: uppercase;
}

.portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

.link {
  width: 103px;
  height: 38px;
  background: #f5f4fa;
}
.title-link {
  background-color: blue;
}
.container {
  position: absolute;
  width: 370px;
  height: 404px;
  background: #ffffff;
}
