
  /*colors {
    background: #FFFFFF;
    background: #2F303A;
    background: #E5E5E5;
    color: #212121
    background: #2F303A;
    background: #F5F4FA; 
    color: #2196F3;
    background: #757575;*/
  

:root {
  --primary-text-color:#E5E5E5;
  --title-text-color:  #757575;
  --accent-color: #2196F3;
  --hero-background-color: #F5F4FA;
  --dark-background-color:#2F303A;
  --head-text-color: #212121;
  --top-nav-color: #FFFFFF;

}

body {
  background: #E5E5E5;
  color: var(--title-text-color);
}


.page-header {
  position: absolute;
  width: 1600px;
  height: 80px;
  background: #ffffff;
}
.logo {
  color: black;
  font: Raleway;
  weight: 700;
  style: normal;
  size: 26px;
  line height: 30.52px;
  letter: 3%;
}

.logo1 {
  color: blue;
  font: Raleway;
  weight: 700;
  style: normal;
  size: 26px;
  line height: 30.52px;
  letter: 3%;
}

.list {
  list-style: none;
}

/* Site nav*/

.site-nav .link {
  color: #212121;

}

.site-nav .link:hover, 
.site-nav .link:focus {
  color: #2196F3;
}
.contact-nav .link:hover, 
.contact-nav .link:focus {
  color: #2196F3;{

} 

/* head baner*/

.head-baner {
  width: 1600px;
  height: 600px;
  background-color: var(--dark-background-color);
}

.head-link {
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
  color: var(--top-nav-color);
}

.title-btn:hover ,
.title-btn:focus {
  background-color: var(--accent-color);
  color: var(--top-nav-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 0.5;
} 

.title-btn:active {
  color: white;
  background: #2196F3;
}

/* section*/


.section-title, .title {
  color: #212121;
}


.text {
  Font 
Roboto
Weight 
400
Style 
normal
Size 
14px
Line Height 
24px
Letter 
3%
}

.hero-title {
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
  background: #212121;
}

.hero-work {
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
background: #757575;


/*Portfolio*/

.portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

.link {
  width: 103px;
  height: 38px;
  background: #f5f4fa;
}
.title-link:hover , 
.title-link:focus {
  background: #2196F3;

}

.title-link: :active {
  co


}


}lor: #2196F3;
}

.primary-link-btn:hover {
  color: white;
  background: #2196F3;

}

.link-btn:hover {
width: 130px;
height: 38px;
left: 976px;
top: 174px;
background: #F5F4FA;
}